textarea {
    min-height: 400px;
}

.email-div {
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
}

.email-div .sender {
  font-weight: bold;
}

.email-div .subject {
  color: black;
}

#archive-btn{
    background: blue;
    color: white;
}
#reply-btn{
    background: blue;
    color: white;
}
