textarea {
    min-height: 400px;
}

.email-div {
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
}
.email-body {
  white-space: pre-wrap; 
  font-family: sans-serif;
}

.email-div .sender {
  font-weight: bold;
}

.email-div .subject {
  color: black;
}

